.description {
    color: #767e9e;
    font-family: Lato-Light;
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: 15px;
    text-align: justify;
}

.portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio_content {
    max-width: 940px;
    margin: auto;
    padding-top: 60px;
}

.portfolio_button_flex {
    display: flex;
    justify-content: space-between;
    width: 287px;
}

.portfolio_button_flex button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #666d89;
    border-radius: 4px;
    color: #767e9e;
    font-size: 12px;
    font-family: Lato-Regular;
    height: 22px;
    box-sizing: border-box;
    cursor: pointer;    
}

.portfolio_button_flex button:last-child {
    padding: 0 5px;
}

.portfolio_button_flex .active,
.portfolio_button_flex button:hover {
    border-color: #dedede;
    color: #dedede;
}

.portfolio_images {
    margin-top: 19px;
    margin-bottom: 67px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.portfolio_images div {
    max-width: 220px;
    max-height: 187px;
}

.portfolio_images img {
    width: 100%;
}

.about_us {
    background-color: #f2f2f2;
    border-bottom: 6px solid #FFF;
}

.about_us_content {
    max-width: 940px;
    margin: auto;
    padding-top: 59px;
    text-align: justify;
    padding-bottom: 60px;
}

.about_us_content p {
    line-height: 30px;
    padding-top: 0;
    margin-bottom: 45px;
}

.about_us_grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.about_us_member {
    max-width: 300px;
}

.about_us_member_photo {
    max-height: 300px;
}

.about_us_member_photo img {
    width: 100%;
}

.about_us_member h3 {
    font-size: 18px;
	color: #666d89;
    font-family: Lato-Black;
    margin: 0;
    padding-top: 15px;
    letter-spacing: -0.3px;
}

.about_us_member p {
    font-size: 12px;
	line-height: 21.5px;
	color: #767e9e;
    font-family: Lato-Regular;
    margin: 0;
    padding-top: 9px;
}

.about_us_member:first-child p {
    letter-spacing: -0.06px;
}

.about_us_member_icons_flex {
    display: flex;
    justify-content: space-between;
    width: 153px;
    padding-top: 24px;
}

.about_us_member_icons_flex img:hover {
    opacity: 0.5;
    cursor: pointer;
}

